.login{
    /* The image used */
    background-image: url(../../assets/images/Fondo.png);

    /* Full height */
    width: 100%;
     

    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}