
.Contenedor{
    position: absolute;
    top: 10%;
    left: 75%;
    width: 600px;
    margin: auto;
    background:rgba(0, 0, 0, 0, 4);
    box-sizing:border-box;
    margin-top: 30px;
    border-radius: 8px;
    transform: translate(-50%, -50%);

}
.Contenedorr{
    position: absolute;
    left: -500px;
    top: -60px;
    margin-top: 140px;
}
h9,h10,h11{
    color: #2c4b9e;
    font-weight: bold;
    font-size: 15px;
}

.Contacto{
    
    color: #2c4b9e;
    font-weight: bold;
    margin:0;
    font-size: 30px;


}
.inputs{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin: 15px;
    padding: 15px;
    border: none;
    width: 490px;
    height: 35px;
    
    
    
}
textarea{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    height: 150px;
}
input,textarea{
    width: 100%;

}
button3{
    background-color: #008CB4;
    border: none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:4px 345px;
    cursor:pointer;
     
}
@media(max-widht:800px){
    .contenedor{
        width: 100%;

    }
    
}
@media (max-widht:720px){
    .contenedor{
        width:100%;
    }
}
